<!DOCTYPE html>
<html>
    <head>
        {% block title %}
        <title>Tiago Vidal</title>
        {% endblock %}
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>

        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/projetos">Projetos</a>
            </div>
        </header>

    {% block content %}
    {% endblock %}

    </body>

</html>